ion-col > div {
    // background-color: #f7f7f719;
    // border: solid 1px rgb(185, 11, 11);

    background-color: transparent;
    border: solid 1px transparent;
    border-radius: 20px;
    padding: 10px;
}